.quick-slot-picker {
  background-color: var(--color-grey-light);
  padding-bottom: var(--spacing-base--1-2);

  &__title,
  &__subtitle {
    margin-top: var(--spacing-base--1-2);
    margin-bottom: var(--spacing-base--1-8);
  }

  &__subtitle {
    font-weight: 500;
  }

  &__link {
    margin-top: var(--spacing-base--1-4);
    margin-bottom: var(--spacing-base--1-4);
    font-size: var(--font-size--small);

    a {
      color: var(--color-text);
    }
  }
}
